In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.1'

In [3]:
my_series = ["Boat", "Car", "Bike"]
print(pd.Series(my_series))

0    Boat
1     Car
2    Bike
dtype: object

In [9]:
my_data = [('Boat', 1), ('Car', 2), ('Bike', 3), ('Truck', 4)]

my_data_df = pd.DataFrame(my_data, columns=['Vehicle', 'Count'])

In [10]:
my_data_df

  Vehicle  Count
0    Boat      1
1     Car      2
2    Bike      3
3   Truck      4

In [11]:
# inspecting what type this is
type(my_data_df["Vehicle"]) # -> series

pandas.core.series.Series